body {
  font-family: Helvetica; 
  text-align: center;
  margin: 8px 10px;
}

h1 {
  font-size: 50px;
}

h2 {
  font-family: 'B612', 'Roboto';
}

h3 {
  font-family: 'B612', 'Roboto';
}

p {
  font-family: 'Laila','Roboto';
}

a {
  color: #9843BA;
  text-decoration: none;
  font-family: 'Quicksand';
  font-weight: 900;
  text-align: center;
}

a:hover {
  color: #9A275A;
}

.banner-img {
  height: 300px;
  width: 100%;
}

.container {
  position: relative;
  text-align: center;
}

.flexbox {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card-1 {
  height: auto;
  background-color: white;
  background-position: center;
  color: #484848;
  position: relative;
  padding: 20px;
  border-radius: 4px;
}

.card-1 img {
  width: 40%;
}

.title {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text-area {
  box-shadow: 1px 4px 8px #bbb;
  z-index: 10;
  position: relative;
  width: 500px;
  height: auto;
  padding: 20px;
  margin-left: 18%;
  margin-top: 10%;
}

.text-area-2 {
  box-shadow: 1px 4px 8px #bbb;
  width: 35%;
  padding: 10px;
  margin-left: 2%;
  padding: 10px;
}

.column {
  width: 28%;
  display: inline-block;
}

.column-1 {
  width: 28%;
  display: inline-block;
  margin-top: 31px;
}

.large {
  width: 169%;
}

.med {
  width: 74%;
  margin-left: 77px;
  margin-bottom: -8px;
}

.small {
  width: 65%;
}

.small-ish {
  width: 390px;
}

.caption {
  margin-left: 12%;
  padding: 13px;
}

#pc-album {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding: 2px;
}

#pc-album-pic {
  width: 90%;
}

#tel-album-pic {
  width: 90%;
}

#tel-album {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding: 2px;
}

